body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

p {
  margin: 0;
}

header {
  width: 100%;
}

#nav-bar {
  width: 100%;
  background-color: #f8f8f8;
  max-height: 50px;
  display: flex;
}

#nav-bar .logo-container {
  padding: 3px;
  width: 200px;
}
.logo-container .nav-logo {
  width: 100%;
  display: block;
}

#nav-bar .links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  vertical-align: top;
  width: 88%;
}

.links-container span {
  display: inline-block;
  margin-right: 10px;
}

.banner {
  background-image: url("/public/images/top-section_4360x1500.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-text-container {
  width: 30%;
  color: white;
  margin: auto;
  text-align: center;
}

.banner-text-container .banner-btn {
  width: 200px;
  height: 35px;
  color: white;
  background-color: #2c71b8;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.banner-text-container .banner-title {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 28px;
}

.banner-text-container .banner-subtitle {
  font-size: 18px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 35px;
}

/* main */

main {
  padding-top: 50px;
}

#embeddings {
  text-align: center;
}

#embeddings .title {
  width: 50%;
  margin: 0 auto;
}

#embeddings .video-subtitle {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 18px;
}

#embeddings .videos-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.video-component {
  width: 30%;
  text-align: left;
  flex: 1;
}

.video-component .thumbnail {
  width: 100%;
}

.video-component .video-title {
  font-weight: 600;
  margin-top: 8px;
}

.video-stats {
  margin-top: 10px;
}

.video-actions {
  margin-top: 10px;
}

.video-actions .action-btn {
  color: #7ad1ef;
  background-color: transparent;
  border: 1px solid #7ad1ef;
  border-radius: 25px;
  padding: 8px 10px;
}

#features {
  width: 100%;
  padding-top: 100px;
}

#features .title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#features .features-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.features-container .feature-component {
  /* max-width: 320px; */
  text-align: center;
  flex: 1;
}

.feature-component .feature-img {
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  padding: 10px;
  width: 85%;
  /* height: 120px; */
}

#benefits {
  width: 100%;
  padding-top: 100px;
}

#benefits .title {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#benefits .benefits-container {
  width: 60%;
  margin: 0 auto;
}

.benefit-component {
  display: flex;
  width: 70%;
  margin: 0 auto;
  gap: 70px;
  margin-bottom: 35px;
}

.benefit-component .img-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-section img {
  height: 100px;
}

#collection {
  width: 70%;
  margin: 0 auto;
  padding-top: 70px;
}

#collection .title {
  text-align: center;
}

#collection .subtitle {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 70px;
}

#collection .collection-container {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.collection-component {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.ml-image {
  background-image: url("/public/images/collections/collection-ml_922x368.png");
  background-position: center;
  background-size: cover;
}

.startup-image {
  background-image: url("/public/images/collections/collection-startup_920x368.png");
  background-position: center;
  background-size: cover;
}

.collection-component .img-title {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px rgb(0, 0, 0, 0.3);
}

#users {
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-top: 50px;
}

#users .title {
  text-align: center;
}

#users .users-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.users-container img {
  width: 100%;
}

#try-now {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 70px;
}

#try-now .container {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.container .title {
  font-size: 36px;
  font-weight: 600;
}

.container .url-input {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  width: 50%;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  height: 35px;
}

.url-input input {
  flex: 4;
  border: none;
  width: 100%;
  padding: 0 5px 0 10px;
}

.url-input button {
  border: none;
  flex: 1;
  background-color: #2c71b8;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#platforms {
  background-color: #f5f5f5;
  width: 100%;
  padding: 70px 0;
  text-align: center;
}

#platforms .title {
  font-size: 28px;
  font-weight: 500;
}

#platforms .sub-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.sub-container img {
  width: 100%;
}

/* end main */

footer {
  width: 100%;
}

footer a {
  text-decoration: none;
}

footer .links {
  height: 20px;
}

footer .links-internal {
  background-color: #393939;
  text-align: center;
}

.links-internal a {
  color: #36559e;
  margin-right: 5px;
}

footer .links-copyright {
  background-color: #272727;
  color: white;
  text-align: center;
}

.links-copyright a {
  color: white;
}
